*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif; 
    
}
:root {
    --header-bg: #0056b3;
    --highlight-color: #ff523b;
    --btn-bg: #50508B;
}
header{ 
    background:var(--header-bg); 
    color: #ffffff; 
    padding: 15px 0; 
    text-align: center; 
    margin-bottom: 1em; 
}
h2 {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
}
p{
    margin-bottom: 1.5em; 
    font-size: 16px; 
    font-weight: 400;
}

.small-container{
    margin: 2em;
    margin-bottom: 1.2em;
    padding: 15px; 
    line-height: 1.5;
}


.title{
    text-align: center;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    align-items: center;
    content: ' ';/*content are background 🎮*/
    background:var(--highlight-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 47%;
}
.title:hover{
    color: turquoise;
}
 
/*This containeris for seminar day*/
.container{
    grid-template-columns: repeat(2, 1fr );
    max-width:95%;
    min-height:30px;
    display: grid;
    gap:20px;
    margin: 0 auto;
    padding: 2em;

}/*-----seminar days-----*/
.content{
    line-height:1.6;
    font-size: 16px;
    padding: 15px;/*around the eges*/
    background: #fafafa;
    border-radius: 1em;
}
.btn{
    position: relative;
    font-size: 20px;
    color: #000;
    text-decoration: none;
   /* border: 2px solid #fff;*/
    padding: 10px 20px;
    border-radius:1em;
    margin-left:  7em;
    background: #9C9CC9;
    box-shadow: 0 0.5em 0.5em black;

}
a.btn:hover{
    background:var(--header-bg);
}    
.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom:25px;
    align-content: center;
}
.video-container embed{
    padding: 20px 0;
}
/*-----footer-------*/
footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 0;
    background: #0056b3;
    width: 100%;
    color: white; 
    font-size: 16px;
    position: relative;
}

/*------media query-------*/
@media (max-width: 600px) {
   
    .small-container {
    padding: 10px; /* Reduce padding */
    }
    .container {
        grid-template-columns: 1fr; /* Stacks items in a single column */
        gap:2em;
        padding: 2em;
    }  
}
   
    

